@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');

:root {
    --f-all: "Monomakh", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: rgb(16,16,16);
    background: radial-gradient(circle at 50% 50%, rgb(25,25,25), rgb(5,5,5));
}