/* CONTAINER */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* POKEMON */

.pokemon {
    width: 300px;
    background: linear-gradient(40deg, rgb(35,35,35), rgb(50,50,50), rgb(35,35,35));
    border-radius: 1rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pokemon-image {
    line-height: 0;
    background-color: rgb(20,20,20);
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.15);
    padding: 10px;
}

.pokemon-image-itself {
    width: 100%;
}

/* POKEMON INFO */

.pokemon-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* POKEMON INFO INFO */

.pokemon-info-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 400;
}

/* POKEMON INFO INFO NAME */

.pokemon-info-name {
    color: white;
    font-weight: 400;
    text-align: center;
}

/* POKEMON INFO INFO CRIES */

.pokemon-info-cries {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon-info-cries-text {
    color: white;
    font-weight: 400;
}

.pokemon-info-cries-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(70,70,70);
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,0.08);
    border-bottom: 1px solid rgba(255,255,255,0.03);
}

.pokemon-info-cries-button-svg {
    width: 15px;
    height: 15px;
    color: white;
    fill: white;
}

.pokemon-info-cries-button:hover {
    background-color: rgb(80,80,80);
}

.pokemon-info-cries-button:active {
    background-color: rgb(75,75,75);
}